@media( max-width: 1419px){
    header{
        gap:250px;
        padding: 26px 90px;
    }
}
@media( max-width: 1340px){
    header{
        gap:200px;
        padding: 26px 32px;
    }
    .section3{
        overflow-x: scroll;
    }
    footer{
        gap: 200px;
        padding: 80px 32px;
    }
}
@media( max-width: 1088px){
    header{
        gap: 170px;
    }
}

@media( max-width: 1025px){
   header{
    gap: 159px;
    padding: 26px 32px;
   }
}
@media( max-width: 1003px){
    header{
        gap: 80px;
    }
    footer{
        gap: 80px;
      
    }
}
@media( max-width: 864px){
    .header_nav{
        display: none;
        
    }
    .header_icon{
        display: flex;
    }
.section2{
    padding: 120px 280px;
}
}
